{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main class="background-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                
                    <form method="post" class="login-form">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <h4 class="text-center loginform-title">
                            Connexion
                        </h4>
                        <div class="form-group">
                            <input type="email" value="{{last_username}}" name="email" id="inputEmail" placeholder="Votre email" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Votre mot de passe">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Connexion
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
