{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
        <main class="project-details-content background-color">
            <!--  BREADCRUMB AREA -->
            <section class="banner-area breadcrumArea mb-0" >
                <div class="container custom-container">
                    <div style="background-image: url(assets/img/mask/breadcrumbmask.png);" class="breadcrum-banner">
                      <div class="row d-flex align-items-center">
                          <div class="col-lg-6 order-2 order-lg-1">
                              <div class="bannerArea__wrapper">
                                  <div class="bannerArea__title">
                                      <h3>Nos projets</h3>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 order-1 order-lg-2 navbar-banner">
                              <div class="banner-image">
                                  <img src="assets/img/banner/breadcrumb-banner.png" alt="banner-image" class="img-fluid" />
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="breadcrumb-wrapper">
                                  <nav aria-label="breadcrumb">
                                      <ol class="breadcrumb">
                                          <li class="breadcrumb-item">
                                              <a href="index.html">Home</a>
                                          </li>
                                          <li class="breadcrumb-item active" aria-current="page">
                                              Projects
                                          </li>
                                      </ol>
                                  </nav>
                              </div>
                          </div>
                      </div>
                      <div class="breadcrumbmask">
                          <img class="mask1" src="assets/img/mask/layerShape-02.png" alt="mask" />
                      </div>
                    </div>
                </div>
            </section>

            <!--  OUR PROJECT AREA -->
            <section class="project">
                <div class="container project__container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="project-wrapper">
                                <div class="project-wrapper-image">
                                    <img src="assets/img/project/project02.png" alt="image" />
                                </div>
                                <div class="project-wrapper-title">
                                    <h3>Dashboard Redesign</h3>
                                    <span>Project Completed December 18 2020</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ulla.
                                    </p>
                                </div>
                                <div class="project-wrapper-button">
                                    <a class="primary__button primary__button-outline" href="project-details.html">Full Case Study</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="project-wrapper">
                                <div class="project-wrapper-image">
                                    <img src="assets/img/project/project03.png" alt="image" />
                                </div>
                                <div class="project-wrapper-title">
                                    <h3>Dashboard Redesign</h3>
                                    <span>Project Completed December 18 2020</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ulla.
                                    </p>
                                </div>
                                <div class="project-wrapper-button">
                                    <a class="primary__button primary__button-outline" href="project-details.html">Full Case Study</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="project-wrapper">
                                <div class="project-wrapper-image">
                                    <img src="assets/img/project/project04.png" alt="image" />
                                </div>
                                <div class="project-wrapper-title">
                                    <h3>Dashboard Redesign</h3>
                                    <span>Project Completed December 18 2020</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ulla.
                                    </p>
                                </div>
                                <div class="project-wrapper-button">
                                    <a class="primary__button primary__button-outline" href="project-details.html">Full Case Study</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="project-wrapper">
                                <div class="project-wrapper-image">
                                    <img src="assets/img/project/project05.png" alt="image" />
                                </div>
                                <div class="project-wrapper-title">
                                    <h3>Dashboard Redesign</h3>
                                    <span>Project Completed December 18 2020</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ulla.
                                    </p>
                                </div>
                                <div class="project-wrapper-button">
                                    <a class="primary__button primary__button-outline" href="project-details.html">Full Case Study</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="project-wrapper">
                                <div class="project-wrapper-image">
                                    <img src="assets/img/project/project06.png" alt="image" />
                                </div>
                                <div class="project-wrapper-title">
                                    <h3>Dashboard Redesign</h3>
                                    <span>Project Completed December 18 2020</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ulla.
                                    </p>
                                </div>
                                <div class="project-wrapper-button">
                                    <a class="primary__button primary__button-outline" href="project-details.html">Full Case Study</a
                                        >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="load-more-button">
                                <a class="primary__button primary__button-bgPrimary" href="#">Load More Projects</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  CALL TO ACTION AREA -->
            <section class="callto-action callto-action-modifi">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12 order-2 order-lg-1">
                            <div class="callto-action-text">
                                <h2>Have Any Project On Mind? Contact Us!</h2>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue ipsum id neque placerat, et tempus nibh accumsan. Maecenas hendrerit faucibus ante. Fusce placerat laoreet ligula, non porttito.
                                </p>
                                <a
                                    href="contact.html"
                                    class="primary__button primary__button-bgPrimary"
                                    >Send Message</a
                                    >
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 order-1 order-lg-2">
                            <div class="callto-action-image">
                                <img src="assets/img/action/image.svg" alt="Call To Action" />
                            </div>
                        </div>
                    </div>
                    <div class="mask-group">
                        <img class="mask01" src="assets/img/mask/mask5.png" alt="mask" />
                    </div>
                </div>
            </section>
        </main>
{% endblock %}