{% extends 'base.html.twig' %}

{% block title %}Hello AdminAreaController!{% endblock %}

{% block body %}
    <main class="project-details-content background-color">
        <!--  BREADCRUMB AREA -->
        <section class="banner-area breadcrumArea mb-0" >
            <div class="container custom-container">
                <div style="background-image: url(assets/img/mask/breadcrumbmask.png);" class="breadcrum-banner">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="bannerArea__wrapper">
                                <div class="bannerArea__title">
                                    <h1>Project Details</h1>
                                </div>
                                <p>
                                    Praesent non pharetra lorem. Quisque vitae eros ut dui egestas ultrices et quis odio. Praesent vitae tincidunt lacus.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 navbar-banner">
                            <div class="banner-image">
                                <img src="assets/img/banner/breadcrumb-banner.png" alt="banner-image" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Projects
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="breadcrumbmask">
                        <img class="mask1" src="assets/img/mask/layerShape-02.png" alt="mask" />
                    </div>
                </div>
            </div>
        </section>
        <!--  OUR PROJECT DETAIL AREA -->
        <section class="project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 project-description">
                        <div class="overview-image">
                            <img class="img-fluid" src="assets/img/project/project-overview.jpg" alt="image" />
                        </div>
                        <div class="project-overview-wrapper">
                            <div class="overview-detail">
                                <div class="detail-tittle">
                                    <p>Clients</p>
                                    <h6>WebGeniusLab - Agency</h6>
                                </div>
                                <div class="detail-tittle">
                                    <p>Category</p>
                                    <h6>Redesign Dashboard</h6>
                                </div>
                                <div class="detail-tittle">
                                    <p>Duration</p>
                                    <h6>3 Months</h6>
                                </div>
                                <div class="detail-tittle">
                                    <p>Clients</p>
                                    <h6>www.poco.com</h6>
                                </div>
                            </div>
                        </div>
                        <div class="project-detail-content mb-40">
                            <h2>Dashboard Redesign</h2>
                            <p>
                                Nunc eu augue at nunc consectetur venenatis sit amet sodales metus. Sed at gravida nisi, mattis lacinia ipsum. Pellentesque suscipit odio quis ligula maximus aliquet. Integer cursus ipsum et posuere
                                ornare. Aliquam erat volutpat. Vivamus suscipit, orci non venenatis laoreet, odio eros pharetra dui, vitae aliquam massa elit sit amet dolor. Sed sagittis metus ac porta tincidunt. Nulla tincidunt, sapien
                                vitae consequat rhoncus, neque neque faucibus quam, ornare volutpat diam neque ut nunc. Vivamus porta leo libero, eget vehicula mi facilisis nec. Sed id sollicitudin enim, ut euismod tellus. Curabitur
                                eleifend semper erat vel tristique. In ut consequat nisl. Donec ultrices Aliquam erat volutpat. Vivamus suscipit, orci non venenatis laoreet, odio eros pharetra dui.
                                <br />
                                <br />
                                Nunc eu augue at nunc consectetur venenatis sit amet sodales metus. Sed at gravida nisi, mattis lacinia ipsum. Pellentesque suscipit odio quis ligula maximus aliquet. Integer cursus ipsum et posuere
                                ornare. Aliquam erat volutpat. Vivamus suscipit, orci non venenatis laoreet, odio eros pharetra dui, vitae aliquam massa elit sit amet dolor. Sed sagittis metus ac porta tincidunt. Nulla tincidunt.
                            </p>
                        </div>
                        <div class="project-detail-content-project">
                            <div class="row">
                                <div class="col-sm-6 mb-40">
                                    <img src="assets/img/project/overview01.png" alt="image" class="img-fluid" />
                                </div>
                                <div class="col-sm-6 mb-40">
                                    <img src="assets/img/project/overview02.png" alt="image" class="img-fluid" />
                                </div>
                            </div>
                            <p>
                                Nunc eu augue at nunc consectetur venenatis sit amet sodales metus. Sed at gravida nisi, mattis lacinia ipsum. Pellentesque suscipit odio quis ligula maximus aliquet. Integer cursus ipsum et posuere
                                ornare. Aliquam erat volutpat. Vivamus suscipit, orci non venenatis laoreet, odio eros pharetra dui, vitae aliquam massa elit sit amet dolor. Sed sagittis metus ac porta tincidunt. Nulla tincidunt, sapien
                                vitae consequat rhoncus, neque neque faucibus quam, ornare volutpat diam neque ut nunc. Vivamus porta leo libero, eget vehicula mi facilisis nec. Sed id sollicitudin enim, ut euismod tellus. Curabitur
                                eleifend semper erat vel tristique. In ut consequat nisl. Donec ultrices Aliquam erat volutpat. Vivamus suscipit, orci non venenatis laoreet, odio eros pharetra dui.
                                <br />
                                <br />
                                Nunc eu augue at nunc consectetur venenatis sit amet sodales metus. Sed at gravida nisi, mattis lacinia ipsum. Pellentesque suscipit odio quis ligula maximus aliquet. Integer cursus ipsum et posuere
                                ornare. Aliquam erat volutpat. Vivamu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
        
