{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="services-pages">
        <!--  BREADCRUMB AREA -->
        <section class="banner-area breadcrumArea mb-0">
            <div class="container custom-container">
                <div style="background-image: url(assets/img/mask/breadcrumbmask.png);" class="breadcrum-banner">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="bannerArea__wrapper">
                            <div class="bannerArea__title">
                                <h1>Nos services</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2" style="margin-top:150px">
                        <div class="banner-image">
                            <img src="assets/img/banner/breadcrumb-banner.png" alt="banner-image" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Services
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="breadcrumbmask">
                    <img class="mask1" src="assets/img/mask/layerShape-02.png" alt="mask" />
                </div>
                </div>
            </div>
        </section>
        <!--  OUR WORK PROCESS -->
        <section class="our-work-process">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Processus du travail</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="process-item">
                            <div class="around-dotted dashed01">
                                <div class="image" style="background-color: #7353ff;">
                                    <img src="assets/img/services/process01.svg" alt="Work Process" class="img-fluid" />
                                </div>
                            </div>
                            <div class="process-text">
                                <h3 class="mb-20">Définition du projet</h3>
                                <p>
                                Après que vous nous ayez sollicté pour votre projet, 
                                nous vous contacterons afin d'obtenir plus d'informations à son sujet,
                                ce qui nous permettra de recuillir puis d'analyser les besoins pour la réalisation 
                                de ce dernier, à partir desquels nous établirons un devis que nous vous
                                transmettrons.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="process-item my-5 my-lg-0">
                            <div class="around-dotted dashed02">
                                <div class="image" style="background-color: #29c6ff;">
                                    <img src="assets/img/services/process02.svg" alt="Work Process" class="img-fluid" />
                                </div>
                            </div>
                            <div class="process-text">
                                <h3 class="mb-20">Conception du projet</h3>
                                <p>
                                Sur la base du cahier des charges que vous nous aurez transmis, ou que 
                                nous aurons élaboré, correspondant à votre projet, 
                                nous réaliserons le projet, dans le respect du délai initialement fixé.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="process-item">
                            <div class="around-dotted dashed03">
                                <div class="image" style="background-color: #63be52;">
                                    <img src="assets/img/services/process03.svg" alt="Work Process" class="img-fluid" />
                                </div>
                            </div>
                            <div class="process-text">
                                <h3 class="mb-20">Livraison du projet</h3>
                                <p>
                                Après avoir réalisé tous les tests nécessaires et s'être assuré que 
                                tout est fonctionnel, nous assurerons la mise en ligne de votre projet.
                                Et vous pourrez désormais l'exploiter.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape">
                <img src="assets/img/mask/mask09.svg" alt="Circle Shape" class="img-fluid round-shape" />
            </div>
        </section>
        <!--  ABOUT US -->
        <section class="about-us our-services" style="background-color: #fff5f7; position: relative; margin: 0 45px 130px 45px; border-radius: 24px; z-index: 5;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-us-image">
                            <div class="image">
                                <img src="assets/img/services/services.png" alt="Image" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="about-us-text">
                            <div class="sub-heading">
                                <h2>Pourquoi travailler avec nous?</h2>
                            </div>
                            <div class="feature d-flex align-items-start mb-25">
                                <div class="icon shadow d-flex align-items-center justify-content-center mr-15" style="background-color: #ff465e;">
                                    <i class="fas fa-user-clock"></i>
                                </div>
                                <div class="text">
                                    <h6>Maîtrise de la création d'application.</h6>
                                    <p>
                                        Nous sommes experts en la création d'applications, et nous 
                                        disposons de toutes les ressources et outils nécessaires pour mener 
                                        à terme votre projet.
                                    </p>
                                </div>
                            </div>
                            <div class="feature d-flex align-items-start mb-30">
                                <div class="icon shadow d-flex align-items-center justify-content-center mr-15" style="background-color: #63be52;">
                                    <i class="fas fa-sitemap"></i>
                                </div>
                                <div class="text">
                                    <h6>Déterminé à satisfaire.</h6>
                                    <p>
                                    Nous sommes déterminé à vous safistafaire et mettrons en 
                                    oeuvre toutes nos compétences et notre énergie pour réaliser 
                                    un travail conforme à vos attentes.
                                    </p>
                                </div>
                            </div>
                            <div class="feature d-flex align-items-start mb-25">
                                <div class="icon shadow d-flex align-items-center justify-content-center mr-15" style="background-color: #fab005;">
                                    <i class="fas fa-bolt"></i>
                                </div>
                                <div class="text">
                                    <h6>Force de conseil et écoute.</h6>
                                    <p>
                                    Grâce à notre expertise dans la conception et la maintenance d'applications web,
                                    nous serons force de conseil pour la réussite de votre projet,
                                    et resterons hautement disponible pour répondre à vos demandes et réaliser les tâches que
                                    vous nous confierez. Nous vous tiendrons informé à chaque étape de l'évolution du projet.
                                    </p>
                                </div>
                            </div>
                            <a href="#priceArea" class="primary__button primary__button-bgPrimary shadow">Our Pricing Plan</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape">
                <img src="assets/img/mask/leftMask.svg" alt="shape" class="img-fluid top" />
                <img src="assets/img/mask/mask06.svg" alt="shape" class="img-fluid right" />
                <img src="assets/img/mask/mask8.png" alt="shape" class="img-fluid bottom" />
            </div>
        </section>
        <!--  SPECIAL SERVICES AREA -->
        <section class="special-services our-services" style="position: relative;">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Que pouvons nous faire pour vous?</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50">
                            <div class="special-services-image special-services-image-bg-one">
                                <img src="assets/img/services/special_services01.svg" alt="Special Services 01" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>Création de site vitrine.</h5>
                                <p>
                                    Un site vitrine est un site permettant de présenter sa société, ses produits, et services,
                                    ainsi que ses coordonnées, et un formulaire de contact pour être facilement joignable par ses clients.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50">
                            <div class="special-services-image special-services-image-bg-two">
                                <img src="assets/img/services/special_services02.svg" alt="Special Services 02" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>Création de site ecommerce</h5>
                                <p>
                                    Un site ecommerce est une application qui permet de vendre en ligne ses produits ou ses services.
                                    On réalise votre site ecommerce sur mesure, ou en utilisant Prestashop, Shopify, ou Wordpress,
                                    tout dépend de votre choix.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50">
                            <div class="special-services-image special-services-image-bg-three">
                                <img src="assets/img/services/special_services07.svg" alt="Special Services 03" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>Refonte de site webs</h5>
                                <p>
                                    Nous pouvons apporter des modifications, des corrections, ou des améliorations sur les sites webs 
                                    réalisés en utilisant PHP, ou avec le framework Symfony, à partir de sa version 4.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50">
                            <div class="special-services-image special-services-image-bg-four">
                                <img src="assets/img/services/special_services04.svg" alt="Special Services 04" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>Création d'Api</h5>
                                <p>
                                    Nous proposons la création d'Api sur mesure.
                                    Pour mener à bien cette tâche nous utilisons 
                                    aussi le framework PHP Symfony 5 et la plateforme
                                    Api Platform, facilitant la création d'Api robuste
                                    et scalable.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50">
                            <div class="special-services-image special-services-image-bg-five">
                                <img src="assets/img/services/special_services05.svg" alt="Special Services 05" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>Intégration d'Api</h5>
                                <p>
                                    Si vous souhaitez intégrer une Api dans votre application web, 
                                    nous sommes en mesure de le faire pour vous.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50">
                            <div class="special-services-image special-services-image-bg-six">
                                <img src="assets/img/services/special_services06.svg" alt="Special Services 06" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>Création d'applications web</h5>
                                <p>
                                    La création d'applications web est notre spécialité. 
                                    Nous pouvons réaliser tous types d'applications web,
                                    en utilisant essentiellement PHP, Symfony, Laravel, 
                                    Javascript, ou React, notamment site de rencontre, blog,
                                    réseau social public ou d'entreprises, et bien d'autres.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50 mb-lg-0">
                            <div class="special-services-image special-services-image-bg-one">
                                <img src="assets/img/services/special_services01.svg" alt="Special Services 01" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>Applications mobiles.</h5>
                                <p>
                                    Nous connaissons aussi les technologies appropriées 
                                    pour la création d'applications mobiles, 
                                    notamment React native. 
                                    N'hésitez pas à nous faire part de votre projet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item mb-50 mb-lg-0">
                            <div class="special-services-image special-services-image-bg-two">
                                <img src="assets/img/services/special_services02.svg" alt="Special Services 02" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>SEO/SEA.</h5>
                                <p>
                                    Nous saurons oeuvrer à l'optimisation du référencement naturel de votre application, 
                                    ou mettre en oeuvre pour vous des solutions marketings efficaces.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="special-services-item">
                            <div class="special-services-image special-services-image-bg-three">
                                <img src="assets/img/services/special_services07.svg" alt="Special Services 03" class="img-fluid" />
                            </div>
                            <div class="special-services-text">
                                <h5>
                                    Ajout de fonctionnalités.
                                </h5>
                                <p>
                                    Si vous souhaitez ajouter des fonctionnalités à votre application 
                                    comme par exemple une newsletter, un formulaire de recherche, de contact,
                                    un système de réservation, ou toute autre, nous pouvons aussi le réaliser 
                                    pour vous.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape">
                <img src="assets/img/mask/leftMask.svg" alt="shape" class="img-fluid top-right"/>
            </div>
        </section>
        
        <!--  CALL TO ACTION AREA -->
        <section class="callto-action callto-action-modifi">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 order-2 order-lg-1">
                        <div class="callto-action-text">
                            <h2>
                                Vous avez un projet à l'esprit? Contactez nous.
                            </h2>
                            <p>
                            Précisez nous votre projet, et si vous disposez d'un cahier des charges, 
                            merci également de nous le transmettre. Nous reviendrons vers vous dans les meilleurs délais.
                            </p>
                            <a href="{{path('contact')}}" class="primary__button primary__button-bgPrimary">Send Message</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 order-1 order-lg-2">
                        <div class="callto-action-image">
                            <img src="assets/img/action/image.svg" alt="Call To Action" />
                        </div>
                    </div>
                </div>
                <div class="mask-group">
                    <img class="mask01" src="assets/img/mask/mask5.png" alt="mask" />
                </div>
            </div>
        </section>
    </main>
{% endblock %}